.layout {
  .main {
    padding: 20px;
    margin-left: 256px;
    margin-right: 240px;
    min-height: 100vh;
    transition: all 0.2s;
    flex: 1 1 auto;
    display: flex;
    flex-direction: column;
    gap: 20px;
    @media (max-width: 1200px) {
      margin-left: 0;
      margin-right: 0;
    }
    &.activeRoute {
      margin-left: 0px;
    }
    &.activeInfo {
      margin-right: 0px;
    }
    &.dark {
      background-color: #0f172a;
    }
  }
}
