@import '../../../styles/base/mixin';
.not-task {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  img {
    max-width: 400px;
  }
  &__content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    h2 {
      @include adaptiv-font(20, 16, 20);
      font-weight: 600;
      color: var(--clr-text);
    }
  }
}
